@font-face {
    font-family: bbvaweb;
    src: url(fuentes/bbvaweb-light.ttf);
}
html,body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width:100%;
	height:100%;	
  	font-family: bbvaweb;
}

.darkBack {
    background-color: #333333;
    -webkit-transition: all ease-out 4s;
    -moz-transition: all ease-out 4s;
    -o-transition: all  ease-out 4s;
    transition: all ease-out 4s;
}


.buttons {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 330px;
  height: 50px;
}
.loading{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 50%;
height: 50%;
font-size: 40px;
font-weight: bold;
text-align: center;
color: white;
opacity: 0;
}
.displayOff{
  opacity: 0;
  -webkit-transition: all ease-out 10s;
  -moz-transition: all ease-out 10s;
  -o-transition: all  ease-out 10s;
  transition: all ease-out 10s;
}
.displayOn{
  opacity: 1;
  -webkit-transition: all ease-out 10s;
  -moz-transition: all ease-out 10s;
  -o-transition: all  ease-out 10s;
  transition: all ease-out 10s;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.infoToolImageInside{
width: 33%;
float: left;
height: 15px;
}
.spring1{
background-color: rgb(216, 23, 41);;
}
.spring2{
background-color: rgb(175, 82, 17);;
}
.spring3{
background-color: rgb(36, 134, 57);
}
.summer1{
background-color: rgb(245, 86, 51);
}
.summer2{
background-color: rgb(232, 212, 114);
}
.summer3{
background-color: rgb(103, 150, 126);
}
.auttum1{
background-color: rgb(204, 204, 0);
}
.auttum2{
background-color: rgb(255, 255, 102);
}
.auttum3{
background-color: rgb(255, 255, 204);
}
.winter1{
background-color: rgb(0, 0, 153);
}
.winter2{
background-color: rgb(51, 51, 255);
}
.winter3{
background-color: rgb(204, 204, 255);
}
.valueIndicator{
color: rgb(205, 201, 201);
font-size: 75px;
position: absolute;
bottom: 40px;
right: 40px;
font-family: bbvaweb;
text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}
.songLetter{
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  font-family: bbvaweb;;
  font-size: 45px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}
.infoLetter{
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-family: bbvaweb;;
  font-size: 30px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}
.hideIndicator {
opacity: 0;
-webkit-transition: all .5s ease-in-out; /* Safari */
-o-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
.showIndicator {
opacity: 1;
-webkit-transition: all 2s ease-in-out; /* Safari */
-o-transition: all 2s ease-in-out;
-moz-transition: all 2s ease-in-out;
transition: all 2s ease-in-out;
}
/* Loading Animation */

.demo-3 .bokeh {
  font-size: 100px;
  width: 1em;
  height: 1em;
  position: relative;
  margin: 100px auto;
  border-radius: 50%;
  border: .01em solid rgba(150,150,150,0.1);
  list-style: none;
}

.demo-3 .bokeh li {
  position: absolute;
  width: .2em;
  height: .2em;
  border-radius: 50%;
}

.demo-3 .bokeh li:nth-child(1) {
  left: 50%;
  top: 0;
  margin: 0 0 0 -.1em;
  /*background: #00C176;*/
  background: #FFF;
  -webkit-transform-origin: 50% 250%;
  transform-origin: 50% 250%;
  -webkit-animation: 
      rota 1.13s linear infinite,
      opa 3.67s ease-in-out infinite alternate;
  animation: 
      rota 1.13s linear infinite,
      opa 3.67s ease-in-out infinite alternate;
}

.demo-3 .bokeh li:nth-child(2) {
  top: 50%; 
  right: 0;
  margin: -.1em 0 0 0;
  /*background: #FF003C;*/
  background: #bbbbbb;
  -webkit-transform-origin: -150% 50%;
  transform-origin: -150% 50%;
  -webkit-animation: 
      rota 1.86s linear infinite,
      opa 4.29s ease-in-out infinite alternate;
  animation: 
      rota 1.86s linear infinite,
      opa 4.29s ease-in-out infinite alternate;
}

.demo-3 .bokeh li:nth-child(3) {
  left: 50%; 
  bottom: 0;
  margin: 0 0 0 -.1em;
  /*background: #FABE28;*/
  background: #888;
  -webkit-transform-origin: 50% -150%;
  transform-origin: 50% -150%;
  -webkit-animation: 
      rota 1.45s linear infinite,
      opa 5.12s ease-in-out infinite alternate;
  animation: 
      rota 1.45s linear infinite,
      opa 5.12s ease-in-out infinite alternate;
}

.demo-3 .bokeh li:nth-child(4) {
  top: 50%; 
  left: 0;
  margin: -.1em 0 0 0;
  /*background: #88C100;*/
  background: #ffee00;
  -webkit-transform-origin: 250% 50%;
  transform-origin: 250% 50%;
  -webkit-animation: 
      rota 1.72s linear infinite,
      opa 5.25s ease-in-out infinite alternate;
  animation: 
      rota 1.72s linear infinite,
      opa 5.25s ease-in-out infinite alternate;
}

@-webkit-keyframes rota {
  from { }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes rota {
  from { }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes opa {
  0% { }
  12.0% { opacity: 0.80; }
  19.5% { opacity: 0.88; }
  37.2% { opacity: 0.64; }
  40.5% { opacity: 0.52; }
  52.7% { opacity: 0.69; }
  60.2% { opacity: 0.60; }
  66.6% { opacity: 0.52; }
  70.0% { opacity: 0.63; }
  79.9% { opacity: 0.60; }
  84.2% { opacity: 0.75; }
  91.0% { opacity: 0.87; }
}

@keyframes opa {
  0% { }
  12.0% { opacity: 0.80; }
  19.5% { opacity: 0.88; }
  37.2% { opacity: 0.64; }
  40.5% { opacity: 0.52; }
  52.7% { opacity: 0.69; }
  60.2% { opacity: 0.60; }
  66.6% { opacity: 0.52; }
  70.0% { opacity: 0.63; }
  79.9% { opacity: 0.60; }
  84.2% { opacity: 0.75; }
  91.0% { opacity: 0.87; }
}
@import 'compass/css3';

$icon-font-path: "fonts/";
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

$fa-font-path: "fonts/";
@import 'font-awesome/scss/font-awesome';


@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700);


/* ==========================================================================
 Browse Happy prompt
 ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
 Project styles
 ========================================================================== */

:root { font-size: 14px; }
@media (min-width: 350px) { :root { font-size: 16px; } }
@media (min-width: 640px) { :root { font-size: 28px; } }
@media (min-width: 1440px) { :root { font-size: 1.25vw; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  z-index: 1;
  max-width: 19rem;
}

/* Logo */

.logo {
  opacity: 0;
  position: relative;
  margin-left: -3.5rem;
  margin-top: -8rem;
  margin-bottom: .75rem;
  font-size: 8px;
}

body.ready .logo {
  opacity: 1;
}

body:not(.iOS) #lines * {
  mix-blend-mode: lighten;
}

#fills * {
  opacity: 0;
  mix-blend-mode: lighten;
}

#line-i-1 {
  transform-origin: 30em 8em;
}

/* Fireworks */

.fireworks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainSection{
  position: absolute;
  z-index: 1;
  max-width: 19rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 120px;
  width: 550px;
  opacity: 0;
}


#wrap {
  margin: 50px 100px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: absolute;
  top: -20px;
  right: -20px;
}

input[type="text"] {
  font-size: 40px;
  display: inline-block;
  /* font-family: "Lato"; */
  font-weight: normal;
  border: none;
  outline: none;
  color: #fff;
  font-family: bbvaweb;
  padding: 11px;
  padding-right: 30px;
  padding-left: 30px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.36);
}

input[type="text"]:focus:hover {
border-bottom: 1px solid #000;
}

input[type="text"]:focus {
width: 700px;
z-index: 1;
border-bottom: 1px solid #000;
cursor: text;
}
input[type="submit"] {
height: 67px;
width: 63px;
display: inline-block;
color:red;
float: right;
background: url(../images/Search-icon.png) center center no-repeat;
-webkit-background-size: 80%;
-moz-background-size: 80%;
-o-background-size: 80%;
background-size: 80%;
text-indent: -10000px;
border: none;
position: absolute;
top: 0;
right: 0;
z-index: 2;
cursor: pointer;
opacity: 0.8;
cursor: pointer;
border-radius: 3px;
transition: opacity .8s ease;
}

input[type="submit"]:hover {
opacity: 1;
}
.allowVideo{
  width: 50%;
  height: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.videoInstructions{

}
.acceptButton{

}