@font-face {
    font-family: bbvaweb;
    src: url(fuentes/bbvaweb-light.ttf);
}
html,body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width:100%;
	height:100%;	
  	font-family: bbvaweb;
}

.darkBack {
    background-color: #333333;
    -webkit-transition: all ease-out 4s;
    -moz-transition: all ease-out 4s;
    -o-transition: all  ease-out 4s;
    transition: all ease-out 4s;
}

.displayOff{
  opacity: 0;
  -webkit-transition: all ease-out 10s;
  -moz-transition: all ease-out 10s;
  -o-transition: all  ease-out 10s;
  transition: all ease-out 10s;
}

.displayOn{
  opacity: 1;
  -webkit-transition: all ease-out 10s;
  -moz-transition: all ease-out 10s;
  -o-transition: all  ease-out 10s;
  transition: all ease-out 10s;
}
.allowVideo{
  padding: 15px;
  width: 200px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  text-align: center;
  font-size: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.videoInstructions{

}
.acceptButton{
  background-color: rgb(255, 194, 41);
  padding: 15px;
  color: black;
  margin-top: 20px;
  cursor: pointer;
}